@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


body {
  font-family: 'Raleway', sans-serif;
  font: Rgba(000,000,000,0.8);
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  text-align: center;
  background-color: tomato;
  justify-content: space-between;
}

.home, .game {
  padding: 3em;
  margin: 3em;
  background-color: BlanchedAlmond ;
  border-radius: 25px;
  min-width: 65em;
  min-height: 20em;
  align-content: center
}

.buttons {
  padding: 1em;
  text-align: center;
  /* margin: 2em; */
  display: flex;
  flex-direction: space-between;
  align-content: center
}

.invitation {
  padding: 1em;
  margin: 2em
}

.button {
  font-family: 'Raleway', sans-serif;
  border-radius: 25px;
  background-color:crimson;
  justify-content: space-between;
  text-align: center;
  margin: 3em;
  min-width: 1em;
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  height: 3.5em;
  font-weight: bold; 
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  color: white;
  font-size: 1em;
} 

.button:hover,
.button:focus {
  color: lightblue;
  cursor: pointer;
}

